<!-- フッター -->
<footer class="py-4 base-color text-danger">
  <div class="container text-center">
    <!-- sns -->
    <div id="sns-icon" class="row justify-content-center ">
      <a href="#"><i class="col mx-2 fa fa-facebook fa-lg"></i></a>
      <a href="#"><i class="col mx-2 fa fa-twitter fa-lg"></i></a>
      <a href="#"><i class="col mx-2 fa fa-google-plus fa-lg"></i></a>
    </div>
    <!-- sns -->
    <ul class="nav justify-content-center mb-3 container">
      <li class="nav-item">
        <a class="nav-link" href="#">Top</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <p><small>Copyright &copy;2018 chanryo.</small></p>
  </div>
</footer>
