<%= render partial: 'shared/header' %>

<main>
  <!-- コンテンツ１ みんなのサウナ活動-->
  <!-- ここに繰り返し分をいれる -->
   <% a = [0,1,2,3,4,5,6,7,8]%>
   <% a.each do |i|%>
  <!-- 新しいビューのサンプル -->
<div class ="container" >
  <!-- row1 -->
  <div class =" row m-3 ">
    <!-- 画像col -->
    <div class="col-md-3 m-2 p-1">
      <%= image_tag( "no_image.png", alt: "photo" , style: "max-width: 200px;") %>
    </div>
    <!-- 題名col -->
    <div class="col-md-8 m-3 p-1">
        <p class="facility_name"> 施設サンプル</p>
        <p class="facility_address">神奈川県横浜市〇〇区〇〇まるまる</p>
              <h4 class="mb-3">詳細</h4>
              <div>
                <a href="/facilities/<%=i+1%>" class="card-link btn btn-light accent-text ">詳しく見る</a>
                <a href="#" class="card-link btn btn-light accent-text">あとで見る</a>
              </div>
    </div>
    <!-- col終わり     -->
    </div>

  </div>
  <!-- 新しいビューのサンプル -->
  <% end %>

</main>

<%= render partial: "shared/footer" %>
