<!-- ここから上はあとで消す -->
<%= render "/shared/header" %>
<!--ヘッダー -->


<!-- ここから上はあとで消す -->


<!-- メインいまはコピペ -->
<main>
  <div class="container">
    <h2>Contact</h2>
    <p>作成者への問い合わせ</p>
  </div>
  <!-- お問合せフォーム -->
  <div class="py-3">
    <div class="container">
      <h3 class="mb-3">お問合せフォーム</h3>
      <!-- フォーム -->
      <form>
        <!-- お名前 -->
        <div class="form-group row">
          <label for="name" class="col-md-3 col-form-label">
            お名前 <span class="badge badge-warning">必須</span>
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="name" required>
          </div>
        </div>
        <!-- メールアドレス -->
        <div class="form-group row">
          <label for="email" class="col-md-3 col-form-label">
            メールアドレス <span class="badge badge-warning">必須</span>
          </label>
          <div class="col-md-9">
            <input type="email" class="form-control" id="email" required>
          </div>
        </div>
        <!-- きっかけ -->
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-md-3">
              知ったきっかけ
            </legend>
            <div class="col-md-9">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionnaire" id="radio1" value="answer1">
                <label class="form-check-label" for="radio1">口コミ</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionnaire" id="radio2" value="answer2">
                <label class="form-check-label" for="radio2">検索エンジン</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionnaire" id="radio3" value="answer3">
                <label class="form-check-label" for="radio3">その他</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- 種類 -->
        <div class="form-group row">
          <label for="category" class="col-md-3 col-form-label">
            お問合せ種類 <span class="badge badge-warning">必須</span>
          </label>
          <div class="col-md-9">
            <select class="form-control" id="category" name="category">
              <option value="category1">サウナについて</option>
              <option value="category2">RYOについて</option>
              <option value="category3">その他</option>
            </select>
          </div>
        </div>
        <!-- 内容 -->
        <div class="form-group row">
          <label for="message" class="col-md-3 col-form-label">
           お問合せ内容 <span class="badge badge-warning">必須</span>
          </label>
          <div class="col-md-9">
            <textarea class="form-control" id="message" rows="8" name="message"></textarea>
          </div>
        </div>
        <!-- 確認ボタン -->
        <div class="form-group row justify-content-end">
          <div class="col-md-9">
            <button type="submit" class="btn btn-danger">送信</button>
          </div>
        </div>
      </form>
      <!-- /フォーム -->
    </div>
  </div>
  <!-- / お問合せフォーム -->
</main>
<!-- /メインいまはこぴぺ -->






<!-- ここから下もあとで消す消した -->
<%= render "shared/footer" %>
<!-- フッター -->
