// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
  background-color: white;
}

*{
    font-family: "Hiragino Kaku Gothic Std" ;
    src: local(HiraginoSans-W9);
}

a {
  color: inherit;
}




.base-color{
  background-color: #1f2749;
}

.accent-color{
  background-color: #f12639;
}

.accent-text{
  color: #f12639;
}


.round-image{
width:100px;
height:100px;
border-radius:50%;
box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 10);
}

.round-box{
border-radius:5%;
box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 10);
}
 .shadow-box{
 box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 10);
 }
 .border-css{
   border-bottom:dotted 5px Turquoise;
   border-left:solid 5px Turquoise;
 }
 .sub-title{
   border-bottom: 5px solid #dee2e6;
   padding: 0.75rem;
 }

 .facility_name {
    display: block;
    font-size: 20px;
    width: 640px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    margin-bottom: 10px;
    display: flex;
}

 .facility_address {
    font-style: normal;
    color: #888;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    width: 640px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
  }
